<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>BarcodePrinter</title>
</head>
<body>
    <main>
        <div class="barcode">
            <label class="input-label" for="barcode">Your barcode:</label>
            <div class="input-field">
                <input class="field border" type="text" name="barcode">
                <button class="accept border">Imprimer</button>
            </div>
        </div>
    </main>
</body> 
</html>