<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>BarcodePrinter</title>
</head>
<body>
    <main>
        <div class="barcode">
            <form action="/job" method="post">
                <label class="input-label" for="barcode">Your barcode:</label>
                <div class="input-field">
                    <input class="leftfield border" type="text" name="barcode" value="" autofocus placeholder="Votre code-barres...">
                    <input class="midfield border" type="number" value="1" min="1" max="32" name="quantity">
                    <button class="rightfield border" type="submit">Imprimer</button>
                </div>
            </form>
        </div>
    </main>
</body> 
</html>