
:root {
    --primary: #CDE6F5;
    --primary-shade: #DDEEF8;
    --secondary: #3C312E;


    --items-done: #1AC7C4;  
    --itemshover-done: #107E7D;


    --main-w: 60%
}



html {
    font-family: monospace;
    background-color: var(--primary);
}

body {
    margin: 100px auto;
    width: 60%;
}

.border {
    border-left: solid 1px var(--secondary);
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
}



/* BARCODE INPUT SECTION */
.barcode {
    margin: 0 auto;
}

.input-label {
    display: block;
    margin: 0 0 20px 20px;
    font-size: 2em;
    font-weight: bold;
}

.input-field {
    display: block;
    width: 100%;
}

/* LEFT FIELD */

.leftfield {
    width: 70%;
    height: 50px;
    font-weight: bold;
    font-size: 1em;
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


/* MID FIELD */
.midfield {
    width: 6%;
    height: 50px;
    margin-left: -8px;
    
    padding-left: 20px;
    font-weight: bold;
    font-size: 1em;
}


.leftfield:focus, .midfield:focus {
    outline: none;
    transition: background-color 0.2s ease;
    background-color: var(--items-done);
}

.leftfield:hover, .midfield:hover {
    transition: background-color 0.2s ease;
    background-color: var(--itemshover-done);
}


/* rightfield */
.rightfield {
    position: relative;
    top: -1px;
    width: 10%;
    height: 56px;
    margin-left: -8px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.rightfield:hover {
    transition: background-color 0.2s ease;
    background-color: var(--itemshover-done);
}